@charset "utf-8";
/*--------------------------top---------------------------------------*/
#nav-items {
    display: none!important;
}

.f-home-nav .nav-f-box .nav-items {
    display: none;
    position: absolute;
    left: 50%;
    width: 200px;
    height: 480px;
    overflow: hidden;
    z-index: 10;
    overflow-x: hidden;
}
/*--------------------------nav-d----------------------------------*/
.path-slide {
	width: 960px;
	height: 31px;
	line-height: 31px;
	margin: 10px auto 5px;
	i {
		color: #ee761a;
	}
}
.left {
	float: left;
}
.link-black:link {
	color: #303030;
}
a:link {
	color: #333;
}


.product-list{
	position: relative;
	width: 920px;
	height: 550px;
	margin: 0 auto;
	padding: 20px 20px 10px;
	background-color: #fff;
	.glass {
		float: left;
	}
	

}
/*--------------------------glass---------------------------------*/
.glass {
	width: 400px;
	height: 520px;
}
.glass-main {
	position: relative;
	width: 400px;
	height: 400px;
	.middle {
		position: relative;
		height: 100%;
		.filter {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 198px;
			height: 198px;
			border: 1px solid #ccc;
			background-color: rgba(0,0,0,0.4);
		}
	}
	.large {
		display: none;
		overflow: hidden;
		position: absolute;
		top: -1px;
		left: 400px;
		width: 400px;
		height: 400px;
		border: 1px solid #ccc;
		z-index: 10;
		img {
			position: absolute;
			width: 800px;
			height: 800px;
		}
	}
}
.glass-slide {
	position: relative;
	margin-top: 30px;
	height: 50px;
	.arrow {
		position: absolute;
		top: 10px;
		width: 20px;
		height: 30px;
		background: url(../imgs/sprite.png) no-repeat;
	}
	.arrow-left {
		left: 0;
		background-position: -30px 0;
	}
	.arrow-right {
		right: 0;
		background-position: 0 -30px;
	}
	.slide-main {
		overflow: hidden;
		position: absolute;
		left: 30px;
		top: 0;
		width: 330px;
		height: 74px;
		.img-wrap {
			width: 600px;
		}
		img {
			float: left;
			width: 73px;
			height: 72px;
			margin-right: 10px;
			border: 1px solid #fff;
		}
		img.active {
			border-color: #ee761a;
		}
	}
}
.product-list {
	.per-item {
		float: right;
		width: 485px;
		.goods-title {
			font-weight: 100;
			font-size: 18px;
			a.orange {
				color: #ee761a;
			}
			a:hover {
				text-decoration: underline;
				color: #428bca;
			}
		}
		.price {
			height: 55px;
			line-height: 55px;
			.title {
				color: #838383;
			}
			del {
				margin-left: 20px;
				color: #838383;
			}
			.price-wrap {
				color: #ee761a;
				font-size: 16px;
				font-weight: bolder;
				.goods-price {
					color: #ee761a;
					font-size: 26px;
					font-weight: bolder;
				}
			}
		}
		.tb-prop {
			margin-bottom: 88px;
			font-size: 12px;
			.tb-title {
				width: 50px;
				float: left;
			}
			.tb-con {
				width: 435px;
				float: left;
				.tb-con-item.selected {
					border-color: #ee761a;
				}
				.tb-con-item {
					float: left;
					border: 1px solid #ccc;
					margin-right: 5px;
					line-height: 38px;
					margin: 3px;
					a {
						display: block;
						padding: 0 10px;
					}
				}
			}
			.stock {
				margin-left: 20px;
			}
			.user-option {
				float: left;
				width: 160px;
				height: 60px;
				line-height: 60px;
				text-align: center;
				border: 1px solid #ee761a;
				background-color: #ffeded;
				a {
					display: block;
					color: #be0106;
				}
			}
			.option-bynow {
				margin-right: 20px;
			}
			.option-addCart {
				border-color: #ee761a;
				background-color: #ee761a;
				a {
					color: #fff;
				}
			}
		}
		.amount {
			height: 28px;
			line-height: 28px;
			.amount-item {
				float: left;
			}
			.amount-op {
				position: relative;
				width: 60px;
				height: 26px;
				margin-right: 10px;
				.amount-input {
					position: absolute;
					left: 0;
					width: 38px;
					height: 100%;
					border: 1px solid #ccc;
					text-indent: 3px;
					outline: none;
				}
				.amount-increase {
					position: absolute;
					left: 43px;
					top: 0;
					width: 15px;
					height: 11px;
					line-height: 11px; 
					border: 1px solid #ccc;
					text-align: center;
				}
				.amount-decrease {
					position: absolute;
					left: 43px;
					top: 15px;
					width: 15px;
					height: 11px;
					line-height: 11px; 
					border: 1px solid #ccc;
					text-align: center;
				}
			}

		}
	}

}
/*--------------------------footer----------------------------------*/
.footer-up {
	width: 100%;
	height: 60px;
	background-color: #333;
	ul {
		width: 960px;
		margin: 0 auto;
		li {
			width: 20%;
			float: left;
			padding-left: 40px;
			color: #fff;
			line-height: 60px;
			font-size: 18px;
			box-sizing: border-box;
			text-align: center;
			span {
				display: inline-block;
				padding-left: 11px;
				position: relative;
			}
		}
		em {
			vertical-align: middle;
		}
	}
}

.icon {
	display: inline-block;
	overflow: hidden;
	background: url(../imgs/1.png) no-repeat;
}
.icon-realthing {
	width: 45px;
	height: 44px;
	background-position: -71px -217px;
}
.icon-start {
	width: 45px;
	height: 44px;
	background-position: -165px -217px;
}
.icon-booking {
	width: 45px;
	height: 44px;
	background-position: -66px -2px;
}
.icon-quick {
	width: 45px;
	height: 44px;
	background-position: -24px -217px;
}
.icon-serve {
	width: 45px;
	height: 44px;
	background-position: -118px -217px;
}